.image-cropper {
    width: 175px;
    height: 175px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    float:left;
    margin: 10px;
  }
  
  img {
    display: inline;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
  