<!DOCTYPE html>
	<html>

				<div id= "info"  class = "info">
				<head>
					<title>{{ page.title }}</title>
					<!-- link to main stylesheet -->
					<link rel="stylesheet" type="text/css" href="/css/main.css">
				</head>

				{% if page.url =="/"  %}

				<body style="overflow: hidden;">

				{% else %}

				<body>

				{% endif %}

					<nav>
			    		<ul>
			        		<li><a href="/">Home</a></li>
				        	<li><a href="/about">About</a></li>
			        		<li><a href="/noah_marshall_cv.pdf" type="application/pdf">CV</a></li>
									<li><a href="/blog">Resources</a></li>
									<li><a href="/publications">Publications</a></li>
			    		</ul>
					</nav>
				<div class="container">

				{{ content }}

				</div><!-- /.container -->
			</div> <!-- /.info -->

		</body>
	</html>
