<!DOCTYPE html>
	<html>
		<div class = "mainBody">

				<head>
					<title>{{ page.title }}</title>
					<!-- link to main stylesheet -->
					<link rel="stylesheet" type="text/css" href="/css/main.css">
				</head>
				
				<body>
					<nav>
			    		<ul>
			        		<li><a href="/">Home</a></li>
				        	<li><a href="/about">About</a></li>
			        		<li><a href="/cv">CV</a></li>
			    		</ul>
					</nav>
				</div> <!-- /.mainBody -->
				<div class="container">

				{{ content }}

				</div><!-- /.container -->

			<footer>
	    		<ul>
	        		<li><a href="mailto:noah.marshall2@mail.mcgill.ca">email</a></li>
	        		<li><a href="https://github.com/nmarzz">github.com/nmarzz</a></li>
				</ul>
			</footer>
		</body>
	</html>
